:root {
  --iris-color: #4D5AE5;
  --dark-iris-color: #404BBF;
  --navy-blue-color: #2E2F42;
  --success-color: #31D0AA;
  --slate-color: #434455;
  --subtext-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --white-color: #ffffff;
}

body {
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1128px;
  margin: 0 auto;
}

.wrapper-full {
  width: 100vw;
}

.wrapper-blue {
  background-color: var(--light-color);
}

.wrapper-dark {
  background-color: var(--navy-blue-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.align-center {
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 800;
  color: var(--navy-blue-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: var(--iris-color);
}

.logo-light {
  color: var(--light-color);
}

.menu-item {
  font-weight: 600;
  color: var(--navy-blue-color);
}

.menu-item:hover, .menu-item:focus {
  color: var(--slate-color);
}

.menu-item:active {
  color: var(--iris-color);
}

.contact {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: var(--slate-color);
  font-style: normal;
}

.contact:hover, .contact:focus {
  color: var(--slate-color);
}

.contact:active {
  color: var(--iris-color);
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  font-size: 16px;
  line-height: 1.17;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--iris-color);
}

.button:active {
  background-color: var(--dark-iris-color);
}

.main-button {
  color: var(--white-color);
  text-transform: capitalize;
  background-color: var(--iris-color);
}

.filter-button {
  color: var(--iris-color);
  background-color: var(--light-color);
  line-height: 1.5;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue-color);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.title3 {
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-color);
  font-weight: 700;
}

.footer-text {
  color: var(--light-color);
}

.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
}